.kk-toggle-button[aria-expanded=false] .kk-expanded { display: none; }
.kk-toggle-button[aria-expanded=true] .kk-collapsed { display: none; }

body {
  padding-top: 5rem;
}

table.version-dashboard thead { text-align: center; }

.navbar img { margin-right: 0.5rem; }

.logo {
    font-family:sans;
    font-weight:bold;
    fill:white;
}

.downgrade
{
	font-weight: bold;
	color: red;
}
.upgrade
{
	font-weight: bold;
	color: blue;
}
.keep-version
{
	font-weight: bold;
	color: orange;
}
.correct-version
{
	font-weight: bold;
	color: darkorchid;
}
.stable-up-to-date
{
	font-weight: bold;
	color: darkgreen;
}

table.versions, table.versions th, table.versions td
{
	border: 1px solid black;
}

table.versions tr:not(.header):hover
{
	background-color: lightblue;
}

.box
{
	width: 1em;
}
